@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: rgb(52, 52, 52);
  --border-color: rgb(240, 173, 46);
  --font-color: rgb(232 224 213);
}

body {
  border-width: 8px;
  border-style: solid;
  border-color: var(--border-color);
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: "Righteous", sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}
